$grey: #2F4F4F;
$smallHeight: 60px;
$textWhite: white;
$darkGrey: #708090;
$pink: 	#F08080;
$bigHeight: 480px;
$widthPage: 100%;
$padding-top: 1%;
$padding-left: 35%;
$font-size: 35px;
$widthText: 60%;
$padding-leftText:25%;
$veryBigHeight:800px;